---
import Emoji from 'astro-emoji'
// const currentYear = new Date().getFullYear()
---

<footer>
	<!-- <p class="instructions">
		<a href="https://codeium.com/?referral_id=eXJlZEB0dXRhLmlv" target="_blank">
		To get started, open the directory <code>src/pages</code> in your project.<br />
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.</a>
	</p> -->
	<!-- <p>
		&copy; {currentYear} <a href="https://rdwz.net">RDWZ</a> | <a href="https://advanced-astro.dev" target="_blank">Advanced Astro</a>
	</p> -->
	<p>
		Made with <Emoji symbol="❤️" label="love" /> and in Cologne
	</p>
	<!-- <p>
		<a href="https://astro.build"><img src="https://astro.badg.es/v2/built-with-astro/medium.svg" alt="Built with Astro" width="240" height="40"></a>
	</p> -->
</footer>
<style>
	footer {
		text-align: center;
	}
	a {
		margin-top: 0;;
	}
</style>