---

---

<header>
	<h1>Free Domain Directory</h1>
	<!-- <img src="/logo.svg" width="60" height="60" alt="logo" /> -->
</header>
<style>
	header {
		text-align: center;
		/* margin-top: 2rem; */

	}

	img {
		display: block;
	}

	h1 {
		font-size: var(--font-size-fluid-3);
		font-weight: 700;
		background-image: var(--accent-pink-gradient);
		padding-bottom: 0.4rem;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	/* h1::after {
		content: url(/logo.svg);
		width: 60px;
		height: ;
	} */
	@media (--dark) {
		h1 {
			background-image: var(--accent-green-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
</style>
